[submodule "components/esp32-camera"]
	path = components/esp32-camera
	url = https://github.com/espressif/esp32-camera.git
[submodule "components/esp-adf-libs"]
	path = components/esp-adf-libs
	url = https://github.com/GrazyH888/esp-adf-libs.git
